$primary-padding-bottom: 30px;
$primary-font-size: 18px;
$middle-font-size: 14px;
$small-font-size: 12px;

$primary-color: #444;
$bg-color: #fff;

$padding-left: 30px;

// form 表单
$form-input-height:32px;
$form-border-color: #D9D9D9;
$form-label-color: #333;
$form-padding-top: 0.29rem;
$form-padding-bottom: 0.29rem;

@import '~brandVariables/variables.scss';
